{% extends "base.html" %}
{% block body %}
  <h1>Our Goal</h1>
  <p class="lead">Schools are currently being graded on the Washington State Assessment in reading, writing, math, and science at both the state and federal level.  Each year, the state provides the data to districts and schools from the previous year.  This data compares the last year's data with previous years and determines an adequate yearly progress goal for the current year.</p>
  <p class="lead">A problem that faces a school is understanding why progress is not being made at a rate that matches or exceeds the adequate yearly progress.  Each year some schools continue to far exceed their adequate yearly progress goals while others founder.  Some years a school may go from not making adequate yearly progress to far exceeding it or vice-versa.</p>
  <p class="lead">A comparison of schools based on demographics may help struggling schools identify similar schools with better performance.</p>
  <p class='lead'>This web application uses data from OSPI to help individuals identify schools that are in the same cohort based on similar demographics. The schools are currently matched only on enrollment size and percent free and reduced lunch.</p>
  <p class='lead'>Once the cohort has been identified, the individual using the application can look for the schools they want to use based on assessment score.</p>
  <p class='lead'>Future enhancements will include the ability to choose more demographics to compare the schools on and adding the assessment scores to the results table.</p>
  <p class='lead'>Note: The cohort schools are determined based on the closeness to the target school on all dimensions at the same time.  You can think of it as plot of all demographics on an n-dimension plot and then drawing a sphere around the target school and identifying the schools in the sphere as the cohort.</p>
{% endblock %}
