{% extends "base.html" %}
{% block head %}
  <script>
    var schoolList = {{ school_list|tojson|safe }};
  </script>
{% endblock %}
{% block body %}
<form id="school_form" action="/results/{{ selectedSchool, numberSchools }}">
  <h1>Choose Your School</h1>
  <p class="lead">Enter your school's name below.</p>
  <input type="text" class="form-control" id="school" name="school" placeholder="School Name"><br>
  <input type="text" class="form-control" id="numschools" name="numschools"><br>
  <a href="/main" class="btn btn-lg btn-warning" id="reset">Reset</a>
  <button type="submit" id="submit" class="btn btn-lg btn-primary">Submit</button>
</form>
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='sch_script.js') }}"></script>
{% endblock %}