{% extends "base.html" %}
{% block head %}
  <title>Select School</title>
  <script>
    var schoolList = {{ school_list|tojson|safe }};
  </script>
{% endblock %}
{% block body %}
<form id="school_form" action="/results/">
  <h1>{{ district }}</h1>
  <h2>Choose Your School</h2>
  <label for="school">School Name</label>
  <input type="text" class="form-control" id="school" name="school" placeholder="School Name"><br>
  <div id="search_crit">
    <label for="numschools">Number of close schools to find</label>
    <input type="text" class="form-control" id="numschools" name="numschools"
          placeholder="Please enter the number of schools you want returned." size="4"><br>
    {% include 'demo_choices.html' %}
    <div class="return_criteria">
      <div class="container-fluid">
        {% include 'grade_lvl.html' %}
        <!-- {% include 'tests.html' %} -->
      </div>
    </div>
  </div>
  <a href="/district" class="btn btn-lg btn-warning" id="reset">Reset</a>
  <button type="submit" id="submit" class="btn btn-lg btn-primary">Submit</button>
</form>
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='js/sch_script.js') }}"></script>
{% endblock %}
