{% extends "base.html" %}
{% block head %}
  <title>Select School</title>
  <script>
    var schoolList = {{ school_list|tojson|safe }};
  </script>
{% endblock %}
{% block body %}
<!-- <form id="school_form" action="/results/{{ selectedSchool, numberSchools }}"> -->
<form id="school_form" action="/results/">
  <h1>{{ district }}</h1>
  <h2>Choose Your School</h2>
  <!-- <p class="lead">Enter your school's name below.</p> -->
  <label for="school">School Name</label>
  <input type="text" class="form-control" id="school" name="school" placeholder="School Name"><br>
  <div id="search_crit">
        <label for="numschools">Number of close schools to find</label>
        <input type="text" class="form-control" id="numschools" name="numschools" placeholder="10" size="4"><br>
        <!-- Comment out following block to disable functionality -->
        <input name="Demographics[]" type="checkbox" value="normalized_enrollment" />
            Total Enrollment
        <input name="Demographics[]" type="checkbox" value="% lowses" />
            % Free and Reduced Lunch
        <input name="Demographics[]" type="checkbox" value="% per_native" />
            % American Indian
        <input name="Demographics[]" type="checkbox" value="% per_asian" />
            % Asian
        <input name="Demographics[]" type="checkbox" value="% per_PI" />
            % Pacific Islander
        <input name="Demographics[]" type="checkbox" value="% per_API" />
            % Asian Pacific Islander
        <input name="Demographics[]" type="checkbox" value="% per_black" />
            % Black
        <input name="Demographics[]" type="checkbox" value="% per_hispanic" />
            % Hispanic
        <input name="Demographics[]" type="checkbox" value="% per_migrant" />
            % Migrant
        <input name="Demographics[]" type="checkbox" value="% per_bil" />
            % Bilingual
        <input name="Demographics[]" type="checkbox" value="% per_sped" />
            % Special Education
  </div>
  <a href="/main" class="btn btn-lg btn-warning" id="reset">Reset</a>
  <button type="submit" id="submit" class="btn btn-lg btn-primary">Submit</button>
</form>
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='sch_script.js') }}"></script>
{% endblock %}
