{% extends "base.html" %}
  {% block head %}
  <script>
    var cluster0 = {{ cluster0_scores|safe }};
    var cluster1 = {{ cluster1_scores|safe }};
    var cluster2 = {{ cluster2_scores|safe }};
    var cluster3 = {{ cluster3_scores|safe }};
  </script>
  <title>Test Score Histograms for Clusters</title>
  <link href="{{ url_for('static', filename='css/lib/moz_fix.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/clusterscores.css')}}" rel="stylesheet">
    <h1 class="text-center">Test Score Histograms for Statewide Clusters</h1>
    <h2 class="text-center col-xsm-6" id="grade">Grade {{ grade }}</h2>
    <h2 class="text-center col-xsm-6" id="test">{{ test }}</h2>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data0 = google.visualization.arrayToDataTable(cluster0)
        var data1 = google.visualization.arrayToDataTable(cluster1)
        var data2 = google.visualization.arrayToDataTable(cluster2)
        var data3 = google.visualization.arrayToDataTable(cluster3)

        var options = {
          title: 'Score Distribution',
          hAxis: {title: 'Score'},
          vAxis: {title: 'Number of Schools'},
          legend: { position: 'none' },
        };

        var chart = new google.visualization.Histogram(document.getElementById('chart0_div'));
        chart.draw(data0, options);
        var chart = new google.visualization.Histogram(document.getElementById('chart1_div'));
        chart.draw(data1, options);
        var chart = new google.visualization.Histogram(document.getElementById('chart2_div'));
        chart.draw(data2, options);
        var chart = new google.visualization.Histogram(document.getElementById('chart3_div'));
        chart.draw(data3, options);

      }
    </script>
{% endblock %}
{% block body %}
  <body>
    <div class="row">
        <div class="col-xs-3 my-container">
            <h4>Demographics of Cluster 1</h4>
            <dl>
                {% for demog in demo_results.0 %}
                <dt>{{ demog.0 }}:</dt><dd>{{ demog.1|round(2) }}</dd>
                {% endfor %}
            </dl>
            <hr>
            <div id="chart0_div" style="height: 500px;"></div>
        </div>
        <div class="col-xs-3 my-container">
            <h4>Demographics of Cluster 2</h4>
            <dl>
                {% for demog in demo_results.1 %}
                <dt>{{ demog.0 }}:</dt><dd>{{ demog.1|round(2) }}</dd>
                {% endfor %}
            </dl>
            <hr>
            <div id="chart1_div" style="height: 500px;"></div>
        </div>
        <div class="col-xs-3 my-container">
            <h4>Demographics of Cluster 3</h4>
            <dl>
                {% for demog in demo_results.2 %}
                <dt>{{ demog.0 }}:</dt><dd>{{ demog.1|round(2) }}</dd>

                {% endfor %}
            </dl>
            <hr>
            <div id="chart2_div" style="height: 500px;"></div>
        </div>
        <div class="col-xs-3 my-container">
            <h4>Demographics of Cluster 4</h4>
            <dl>
                {% for demog in demo_results.3 %}
                <dt>{{ demog.0 }}:</dt><dd>{{ demog.1|round(2) }}</dd>
                {% endfor %}
            </dl>
            <hr>
            <div id="chart3_div" style="height: 500px;"></div>
        </div>
  </body>
{% endblock %}
{% block scripts %}
{% endblock%}
