<h3 style="text-align:left;">Pick the demographics to compare on:</h3>
<div class="container-fluid">
  <div class="col-xs-6 text-left"><input name="enrollment" type="checkbox" value="normalized_enrollment" checked/>
    Total Enrollment</div>
  <div class="col-xs-6 text-left"><input name="lowses" type="checkbox" value="lowses" />
    % Free and Reduced Lunch</div>
  <div class="col-xs-6 text-left"><input name="per_native" type="checkbox" value="per_native" />
    % American Indian</div>
  <div class="col-xs-6 text-left"><input name="pre_asian" type="checkbox" value="per_asian" />
    % Asian</div>
  <div class="col-xs-6 text-left"><input name="per_pi" type="checkbox" value="per_PI" />
    % Pacific Islander</div>
  <div class="col-xs-6 text-left"><input name="per_api" type="checkbox" value="per_API" />
    % Asian Pacific Islander</div>
  <div class="col-xs-6 text-left"><input name="per_black" type="checkbox" value="per_black" />
    % Black</div>
  <div class="col-xs-6 text-left"><input name="per_hispanic" type="checkbox" value="per_hispanic" />
    % Hispanic</div>
  <div class="col-xs-6 text-left"><input name="per_migrant" type="checkbox" value="per_migrant" />
    % Migrant</div>
  <div class="col-xs-6 text-left"><input name="per_bil" type="checkbox" value="per_bil" />
    % Bilingual</div>
  <div class="col-xs-6 text-left"><input name="per_sped" type="checkbox" value="per_sped" />
    % Special Education</div>
</div>
