{% extends "base.html" %}
{% block head %}
  <title>Select District</title>
  <script>
    var districtList = {{ district_list|tojson|safe }};
  </script>
{% endblock %}
{% block body %}
<form id="dist_form" action="/schools/">
  <h1>Choose Your School District</h1>
  <label for="district">School District</label>
  <input type="text" class="form-control" id="district" name="district" placeholder="School District" required><br>
  <button type="submit" id="submit" class="btn btn-lg btn-primary">Next</button>
</form>
  {% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='js/dist_script.js') }}"></script>
{% endblock %}