<div class="col-xs-6 text-left">
  <h3>Pick the grade:</h3>
  <div class="radio">
    <label><input type="radio" name="grade" id="grade3" value=3>Grade 3</label></div>
  <div class="radio">
    <label><input type="radio" name="grade" id="grade4" value=4>Grade 4</label></div>
  <div class="radio">
    <label><input type="radio" name="grade" id="grade5" value=5>Grade 5</label></div>
  <div class="radio">
    <label><input type="radio" name="grade" id="grade6" value=6>Grade 6</label></div>
  <div class="radio">
    <label><input type="radio" name="grade" id="grade7" value=7>Grade 7</label></div>
  <div class="radio">
    <label><input type="radio" name="grade" id="grade8" value=8>Grade 8</label></div>
  <div class="radio">
    <label><input type="radio" name="grade" id="grade10" value=10>Grade 10</label></div>
</div>
