{% extends "base.html" %}
{% block head %}
  <script>
    var districtList = {{ district_list|tojson|safe }};
  </script>
{% endblock %}
{% block body %}
<!-- <form id="dist_form" action="/schools/{{ selectedDistrict }}"> -->
<form id="dist_form" action="/schools/">
  <h1>Choose Your School District</h1>
  <p class="lead">Start by entering your school district below.</p>
  <input type="text" class="form-control" id="district" name="district" placeholder="School District"><br>
  <button type="submit" id="submit" class="btn btn-lg btn-primary">Next</button>
</form>
  {% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='dist_script.js') }}"></script>
{% endblock %}