<div class="col-xs-6 text-left">
  <h3>Pick the assessment:</h3>
  <div class="radio">
    <label><input type="radio" name="test" id="test1" value="reading" required>Reading</label></div>
  <div class="radio">
    <label><input type="radio" name="test" id="test2" value="writing">Writing</label></div>
  <div class="radio">
    <label><input type="radio" name="test" id="test3" value="math">Math</label></div>
  <div class="radio">
    <label><input type="radio" name="test" id="test4" value="science">Science</label></div>
</div>